.sidebar nav{
    text-align: left !important;
}
.niveau_added {
    text-align: center !important;
    position: relative;
}
.add_form_field {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.add_form_field1 {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    margin: auto;
}
.taille-container {
    margin-top: 50px;
}
.add-and-continue-btn{
    margin:auto;
    display: flex;
    padding: 15px;
    font-size: 20px;
    background-color: #3e0f05 !important;
    border:1px solid #3e0f05 !important;
}
h3.form-section-title {
    color: #3e0f05 !important;
    font-weight: 700;
    margin-bottom: 30px;
    border-bottom: 2px solid #3e0f05 !important;
    font-size: 27px;
}

.submit-btn-container {
    text-align: center;
}
.fa.fa-trash.corbeille{
    float: right;
    margin-top: -35px;
    margin-right: 1px;
    font-size: 13px;
    background-color: red;
    padding: 11px;
    color: white;
}

.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
input#new_inscription {
    background-color: #5fa52a;
    color: white;
    border-color: #5fa52a;
}
input#reinscription {
    background-color: #ebe71c;
    color: white;
    border-color: #ebe71c;
}
input#add_tuteur {
    background-color: #2a0d02;
    color: white;
    border-color: #2a0d02;
}
input#add_tuteur_parent {
    background-color: #e61313;
    color: white;
    border-color: #e71313;
}

input#paiement_liste {
    background-color: #2a0cb1;
    color: white;
    border-color: #2a0cb1;
}
input#Retour_list {
    background-color: #b1250c;
    color: white;
    border-color: #b1250c;
}

input#paiement_liste_depense {
    background-color: #2a0cb1;
    color: white;
    border-color: #2a0cb1;
}
